.parteaStanga{
    padding-top: 38vh;
    padding-left: 6vh;
}
.TOT {
    display: flex;
}

.parteaDreapta {
    gap: 6vh;
    display: flex;
    padding-left:3.5vh;
    padding-top: 38vh;
}
.poemHeaderText {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    padding-left: 7vh;
}
.poemContainer {
    width: 30vw;
    background: #D9D9D9;
    height: 40vh;
}

.poemContainer .poemContent {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 6px;
    color: #000000;
}

.readPoem {
    padding-top: 42vh;
    padding-left: 7vh;
}
.readPoemBtn {
    width: 20vw;
    height: 7vh;
    background: #000000;
    border-radius: 25px;
    color: #D9D9D9;
}

.imageContainer {
    width: 30vw;
    height: 40vh;
    background: #D9D9D9;
}

.imageContainer .imageContent{
    width: 15px;
    height: 6px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
    line-height: 6px;
    color: #000000;
}

.themeContainer {
    width: 30vw;
    height: 10vh;
    background: #D9D9D9;
    border-radius: 0% 0% 1000% 1000%;
    margin: -20px -20px 0 0;
    border: none;
    position: relative;
    overflow: hidden;
}

.pTheme {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    padding-left: 11vh;

}

.pImage {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    padding-left: 12vh;
}

.specialTheme {
    padding-top: 15vh;
}

.readThemeBtn {
    width: 20vw;
    height: 7vh;
    background: #000000;
    border-radius: 25px;
    color: #D9D9D9;
}

.readTheme {
    padding-top: 19.3vh;
    padding-left: 9vh;
}